@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/outfit-v15-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/outfit-v15-latin-700.woff2') format('woff2'); 
}

