.card{
    background-color: var(--white);
    width: 18rem;
    height: 28rem; 
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2.5rem 1rem;
}