.card{
    background-color: var(--white);
    box-sizing: border-box;
    width: 20rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2.5rem;
    gap: 1.5rem;
}