.card__text{
    text-align: center;
    padding: 0 1rem;
}

.card__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    /* text-decoration: underline; */
    margin: 0 0 1rem 0;
}
.card__description{
    margin: 0;
    color: var(--slate500);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

@media screen and (min-width: 1024px){
    .card__title{
    text-decoration: underline; 
}
}